<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EMPRESA</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css">
    </head>
<body bgcolor="800020">
           <header>
               <div>
                    <img class="logo" src="static/images/uwu.jpg"  width="100px" height="100px">
                </div>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
               
                <li><a href="/pag3">Contacto</a></li>
                <li><a href="/crud">Crud</a></li>
                  <li><a href="/registro">registrate</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/product">MARKETING</a></li>



            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>BICHOPAPOS COMPANY</h2>
                        <br>   
                        EN NUESTRA TIENDA PODRAS ENCONTRAR VARIEDAD DE PAPOS Y DE LA MEJOR CALIDAD
                        
                        EN CASO DE NO ENCONTRAR EL PAPO QUE BUSCAS SOLICITA UNO AQUI <li><a href="/c">solicitar tenis</a></li>
                        <img class="logo" src="static/images/a3.jpg"  width="600px" height="300px">
                        </article>
                         <article>
                            
                    </article>
                        <br>    
                    </article>
        </body>
  
</html>