{% extends "layout.html" %}

{% block content %}
<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Roblox</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo1.css">
    </head>
    <body>
<body>
 <section class="main">
                <section class="articles">
                    <article>
<div id="titulo">



<div id="usuarioos">
  <font color="#0C4BDC"><center><p>HOLAAA</p></center></font>
    <br>
    <center><p>Inicio de sesión correcto<3</p></center>
    <center><img class="logo" src="static/images/aaa.gif"  width="600px" height="300px"></center>
    <br>
    <center><a href="/">Ir A La Pagina Principal</a></center>

     </article>






</body>
</html>
{% endblock %}