<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ROBLOX</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css">
    </head>
    <body>
<body>
<div id="titulo">
      <center><p>Algo Anda mal -_-</p></center></div>


<div id="usuarioos">
  <center><p>Intenta de nuevo iniciar sesion</p></center>
     <center><img class="logo" src="static/images/uwu.gif"  width="600px" height="300px"></center>
    <br>
    <center><p>Inicio de sesión incorrecto, revisa los datos y vuelve a intentarlo</p></center>
    <br>
    <center><a href="/login">Volver</a></center>



</body>
</html>
