<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>COMO JUGARLO</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css">
    </head>
<body bgcolor="800020">
           <header>
               <div>
                    <img class="logo" src="static/images/uwu.jpg"  width="100px" height="100px">
                </div>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                
                <li><a href="/pag3">Contacto</a></li>
                <li><a href="/crud">Crud</a></li>
                  <li><a href="/registro">registrate</a></li>
                 <li><a href="/product">MARKETING</a></li>

            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>-COMO SE JUEGA-</h2>
                        <br>    
                        Para jugar a Roblox es necesario entrar en la página web oficial del juego en roblox.com y 
                        crear una cuenta o iniciar sesión. Una vez creada la cuenta, en la pantalla principal aparecerá 
                        el perfil, que se puede configurar y personalizar, así como una selección de los principales mundos
                         disponibles.
                         <div>
                            <img class="imagen" src="static/images/imagen1.jpg"  width="600px" height="400px">
                        </div>
                        </article>