<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MAS SOBRE ROBLOX</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css">
    </head>
<body bgcolor="800020">
           <header>
               <div>
                    <img class="logo" src="static/images/logo.png"  width="100px" height="100px">
                </div>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                
                <li><a href="/pag3">Contacto</a></li>
                <li><a href="/crud">Crud</a></li>
                  <li><a href="/registro">registrate</a></li>
                <li><a href="/login">Login</a></li>
                 <li><a href="/product">MARKETING</a></li>

            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>-PARA QUE PLATAFORRMAS ESTA-</h2>
                        <br>    
                        Actualmente, ampliar el grado de compatibilidad de un programa se relaciona directamente con el 
                        número de afiliaciones que recibirá con el paso del tiempo.Esto es algo que los desarrolladores 
                        de Roblox entienden perfectamente. Por lo que lo han implementado dentro de su sistema, asegurando 
                        que sus usuarios puedan disfrutar de la plataforma a través de cualquier equipo.

                        Hasta ahora el juego se encuentra disponible en: computadores de escritorio y portátiles que trabajen
                         con Windows o Mac, dispositivos móviles de Android o iOs, Xbox One, HTC Vive, Amazon Devices y Oculus Rift.
                         <div>
                            <img class="imagen" src="static/images/a4.jpg"  width="600px" height="400px">
                        </div>
                        </article>