<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CONTACTOS</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css">
    </head>
<body bgcolor="800020">
           <header>
               <div>
                    <img class="logo" src="static/images/logo.png"  width="100px" height="100px">
                </div>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
               
                <li><a href="/pag3">Contacto</a></li>
                <li><a href="/crud">Crud</a></li>
                  <li><a href="/registro">registrate</a></li>
                <li><a href="/login">Login</a></li>
                 <li><a href="/product">MARKETING</a></li>

            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>-CONTACTANOS-</h2>
                        <br>    
                       
                        
                         <br>
<form action="/agrega_comenta" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="correo" class="form-label">Escribe aqui tu correo electronico</label>
                      <input type="email" class="form-control" name="correo" id="correo" placeholder="nombre@ejemplo.com">
                </div>
                <div class="mb-3">
                      <label for="comentarios" class="form-label">Escribe tu mensaje</label>
                      <input type="text" class="form-control" name="comentarios" id="comentarios"></input>
                </div>
                </div>
          </div>
    </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
</form>


                            
                         
                        </article>

